global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    option forwardfor

# -----------------------------
# HTTP FRONTEND (port 80)
# -----------------------------
frontend http-in
    bind *:80

    acl is_grafana hdr(host) -i grafana.local
    use_backend grafana_backend if is_grafana

    acl is_app hdr(host) -i hello.local
    use_backend app_backend if is_app

    acl is_dashboard hdr(host) -i dashboard.local
    redirect scheme https if is_dashboard

# -----------------------------
# HTTPS FRONTEND (port 443)
# -----------------------------
frontend https-in
    bind *:443 ssl crt /etc/haproxy/dashboard.pem

    acl is_dashboard hdr(host) -i dashboard.local
    use_backend dashboard_backend if is_dashboard

# -----------------------------
# BACKENDS
# -----------------------------
backend app_backend
    balance leastconn
    option httpchk GET /app
    http-check send hdr Host hello.local
    http-check expect status 200
    server k8s-node1 192.168.122.20:30080 check
    server k8s-node2 192.168.122.112:30080 check

backend dashboard_backend
    balance leastconn
    option httpchk GET /
    http-check send hdr Host dashboard.local
    http-check expect status 200
    server k8s-node1 192.168.122.20:30080 check
    server k8s-node2 192.168.122.112:30080 check

backend grafana_backend
    balance leastconn
    option httpchk GET /api/health
    http-check send hdr Host grafana.local
    http-check expect status 200
    server k8s-node1 192.168.122.20:30008 check
    server k8s-node2 192.168.122.112:30008 check
