global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    option forwardfor

frontend http-in
    bind *:80

    acl is_grafana hdr(host) -i grafana.local
    use_backend grafana_backend if is_grafana

    acl is_app hdr(host) -i hello.local
    use_backend app_backend if is_app

    # default_backend app_backend

backend app_backend
    balance leastconn
    option httpchk GET /app

    http-check send hdr Host hello.local
    http-check expect status 200

    server k8s-node1 192.168.122.20:30080 check
    server k8s-node2 192.168.122.112:30080 check

backend grafana_backend
    balance leastconn
    option httpchk GET /api/health  # Grafana health endpoint

    http-check send hdr Host grafana.local
    http-check expect status 200

    server k8s-node1 192.168.122.20:30008 check
    server k8s-node2 192.168.122.112:30008 check
